#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}

/* Scrollbar */
@media (max-width: 768px) {
  html ::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
  }
}

/* Show 10px scrollbar on large screens */
@media (min-width: 769px) {
  ::-webkit-scrollbar {
    width: 10px; /* Show the scrollbar with a 10px width */
  }
}

/* scrollbar for small query certain classes*/

@media (max-width: 768px) {
  .proj-details ::-webkit-scrollbar {
    display: auto; /* Show the scrollbar */
    width: 10px; /* Set the width of the scrollbar */
  }

  /* Track */
  .proj-details ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .proj-details ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #888;
  }

  /* Handle on hover */
  .proj-details ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.contact-fill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  background-color: rgba(224, 242, 254, 1);
}

.contact-fill.active {
  animation: 1s circle reverse;
}

main {
  width: 100vw;
  height: 100vh;
}

main.active {
  animation: 1s mainCircle reverse;
}

@keyframes circle {
  0% {
    clip-path: circle(75%);
    background-color: rgba(224, 242, 254, 1);
  }
  100% {
    clip-path: circle(0%);
    background-color: rgba(224, 242, 254, 0);
  }
}

@keyframes mainCircle {
  0% {
    clip-path: circle(75%);
    background-color: white;
  }
  100% {
    clip-path: circle(0%);
    background-color: rgba(224, 242, 254, 0);
  }
}

.img-tech-zoom {
  overflow: hidden;
}
.img-tech-zoom:hover {
  z-index: 100;
  transform: scale(2.75);
}
